body {
  background-color: #555;
  color: #fff;
}
.App {
  text-align: center;
}

.taskBg {
  background-color: #555;
  border-radius: 6px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: center;
  font-size: 22px;
  position: relative;
}
.taskInput {
  position: absolute;
  color: #999;
  width: 400px;
  height: 30px;
  display: flex;
  text-align: center;
  font-size: 18px;
  margin-left: 650px;

  align-items: center;
}

.taskButton {
  display: block;
  position: absolute;
  width: 100px;
  height: 35px;
  font-size: 20px;
  border: 0;
  border-radius: 2px;
  margin-left: 1060px;
  background-color: rgb(11, 161, 11);
  color: white;
}

.taskBg .taskCompleted {
  margin-left: 100px;
}

.taskDelete {
  width: 80px;
  height: 25px;
  font-size: 20px;
  border: 0;
  border-radius: 2px;
  margin-left: 20px;
  background-color: rgb(11, 161, 11);
  color: white;
}

.taskBg .taskNumber {
  margin-right: 10px;
}

.taskBg .taskCheck {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}
